@model AikidoTest.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <div class="error">@ViewBag.Error</div>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <p>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
    </p>
    <p>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </p>
    <button type="submit">Log in</button>
}
