<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AikidoTest - Vulnerable Sample App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar">
        @Html.ActionLink("Home", "Index", "Home") |
        @Html.ActionLink("Login", "Login", "Account") |
        @Html.ActionLink("Checkout", "Index", "Checkout") |
        @Html.ActionLink("Search", "Index", "Search") |
        @Html.ActionLink("Order Reports", "Index", "OrderReport")
    </div>
    <hr />
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
